In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = {
    'Category' : ['A', 'B', 'A', 'B', 'C', 'A', 'C', 'B'],
    'Store' : ['S1', 'S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S1'],
    'Sales' : [100, 200, 150, 300, 250, 130, 270, 220],
    'Quantity' : [10, 20, 15, 30, 25, 13, 27, 22],
    'Date'  : pd.date_range(start='2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        20 2023-01-02
2        A    S1    150        15 2023-01-03
3        B    S2    300        30 2023-01-04
4        C    S2    250        25 2023-01-05
5        A    S1    130        13 2023-01-06
6        C    S2    270        27 2023-01-07
7        B    S1    220        22 2023-01-08

In [5]:
# Group by Category and Calculate he sum of sales
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    380
B    720
C    520
Name: Sales, dtype: int64

In [6]:
# Group by Store and Calculate the sum of Sales
cat = df.groupby('Store')['Sales'].sum()
cat

Store
S1    800
S2    820
Name: Sales, dtype: int64

In [7]:
# Group by multiple columns
# Group by Cayegory ad store
cat = df.groupby(['Category', 'Store'])['Sales'].sum()
cat

Category  Store
A         S1       380
B         S1       420
          S2       300
C         S2       520
Name: Sales, dtype: int64

### Aggregation

In [12]:
df['Sales'].mean()
# """mean median min max count std"""

np.float64(202.5)

In [13]:
df['Sales'].agg(['sum', 'mean', 'max','count','min', 'std' , 'median'])

sum       1620.000000
mean       202.500000
max        300.000000
count        8.000000
min        100.000000
std         70.862039
median     210.000000
Name: Sales, dtype: float64